html {
    font-family: sans-serif;
    display: inline-block;
}
body {
    margin: 0;
    text-align: center;
}
.main {
    margin-bottom: 100px;
}
.heading {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    color: #191414;
    /* background: #39B54A; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.subheading {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #191414;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px 0;
}
.section {
    margin: 10px;
    padding: 10px;
}
#play-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: green;
    color: white;
}
.card.invisible {
    visibility: collapse;
    border-radius: 20%;
    border: #191414;
}